extends layout

block content
	#nodester.drag
		#rotate
	#users
	#board
	#container
		h1 solve word puzzle
		p blackboard
		p author vishwajeet and sanjay
		p github 
			a(href='//github.com/gotik') gotik
		article#alert.box_login
		aritcle.box_login.drag
			form#form(method='post')
				p Pick some nick
				p
					input.rounded#user(value=user, required)
				p
					#loading
					input.rounded#buttom(type="submit", value="continue")

	script(src='/js/script.js')
